<h1>Autor</h1>
<p><%= autor %> </p>
<p> Edad: <%= edad %> , Pais: <%= pais %>
<p> Foto:
<img src="https://upload.wikimedia.org/wikipedia/en/8/83/Transformers-20090409-ironhide-cg.jpg" alt="rodrigo" height="100px" width="80px">
</p>