<form method="get" action="/quizes/<%= quiz.id %>/answer">
	 <p> Pregunta: <%= quiz.pregunta %> </p>
	 <input type="text" name="respuesta" placeholder="responsa aqui!" />
	 <input type="submit" value="Enviar">
</form>
